.details {
    >summary::-webkit-details-marker {
        display: revert;
    }

    >summary {
        background-color: var(--bgColor-neutral-muted);
        padding: 5px;
        display: revert;
        list-style: revert;
    }
}

.content {
    border-width: 1px;
    border-style: solid;
    border-color: var(--borderColor-default);
    border-radius: var(--borderRadius-medium);
    padding: var(--base-size-16);
}
