@import "@primer/primitives/dist/css/primitives.css";
@import "@primer/primitives/dist/css/functional/themes/light.css";
@import "@primer/primitives/dist/css/functional/themes/dark.css";
@import "@primer/primitives/dist/css/functional/themes/dark-colorblind.css";
@import "@primer/primitives/dist/css/functional/themes/light-colorblind.css";

.body {
  color: var(--fgColor-default);
  background-color: var(--bgColor-default);
}

html, body, #root, .split-page-layout {
    height: 100vh; /* Make sure the layout takes full height */
    display: flex;
    flex-direction: column;
}

.split-page-layout > div {
    flex: 1; /* Push footer down */
}
